*{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #121213;
}

.game-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container{
    width: 330px;
    margin-bottom: 38px;
}

.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button{
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    color: #fff;
    margin: 4px;
}
.key-container button:nth-child(11){
    margin-left:30px ;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28){
    width: 68px;
}

.tile-container div{
    display: flex;
}

.tile-container .tile{
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2px;
}

.message-container{
    height: 35px;
    margin: 20px;
}

.message-container p{
    background-color: #818384;
    border-radius: 18px;
    padding: 18px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0%{
        transform: rotateX(0deg);
    }

    50%{
        transform: rotateX(90deg);
    }

    100%{
        transform: rotateX(0deg);
    }
    
}

.grey-overlay{
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow-overlay{
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay{
    background-color: #538d4e !important;
    border: none !important;
}

.button{
    height: 35px;
    border-radius:16px;
    border: none;
    background-color: #538d4e;
    padding: 7px;
   margin-left: 500px;
}

.button:hover{
    border: 1px solid #538d4e;
    background-color: #121213;
    cursor: pointer;
    display: flex;
}

@media screen and(max-width:992px) {
    .title-container{
        text-align: center;
        width: 350px;
        border-bottom: solid 1px #3a3a3c;
    }

    .tile-container{
        width: 300px;
        margin-bottom: 28px;
    }
    
    .key-container{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .key-container button{
        width: 30px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background-color: #818384;
        color: #fff;
        margin: 4px;
        margin-right: 5px;
    }
    .key-container button:nth-child(11){
        margin-left:30px ;
    }
    
    .key-container button:nth-child(20),
    .key-container button:nth-child(28){
        width: 49px;
    }
    
    .tile-container div{
        display: flex;
    }
    
    .tile-container .tile{
        width: 60px;
        height: 60px;
        border: 2px solid #3a3a3c;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 2px;
    }

    .button{
        height: 35px;
        border-radius:16px;
        border: none;
        background-color: #538d4e;
        padding: 7px;
       margin-left: 0;
    }
    
    .button:hover{
        border: 1px solid #538d4e;
        background-color: #121213;
        cursor: pointer;
        display: flex;
    }
    
    .tile-container{
        
        margin-bottom: 50px;
        
    }
    
    .message-container{
        height: 25px;
        margin: 10px;
    }

    .message-container p{
        background-color: #818384;
        border-radius: 18px;
        padding: 10px;
        margin: 0;
    }

}